body {
    font-family: 'Roboto'
}

.header {
    background-image: url('images/header.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 55px;
    margin: 30px 0 0 40px;
}

@media (max-width: 600px) {

    .header {
        background-position: 50%;
        height: 30px;
        margin: 20px 0 0 20px;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #E7E7E7;
    }

}